<div fxLayout="row wrap" class="sticky">
  <!-- Primera columna  -->
  <div fxFlex.gt-lg="20" fxFlex.gt-md="20" fxFlex.gt-xs="100" fxFlex="100" fxFlexAlign="center"
    *ngFor="let tile of tiles">
    <mat-card matRipple :hover class="mat-card-graphis " (click)="onCardClick(tile.id)" [style.background]=tile.color
      style="text-align: center">
      <mat-card-content class="last-child">
        <div>
          <mat-card-title class="text-center">{{tile.text}}</mat-card-title>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="basic-container">
    <!-- <mat-card (click)="onCardClick($event)" matRipple class="clickable" >A simple mat card</mat-card> -->

  </div>

</div>


<div id="pm10" >

  <app-air-measurement></app-air-measurement>

</div>


<div id="o3" class="page-content">

  <app-o3></app-o3>

</div>
