<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card class="mat-card mat-focus-indicator">
            <mat-card-header class="mat-card-header bg-inverse text-white">
                <div class="mat-card-header-text">
                    <mat-card-title class="mat-card-title">Información de las
                        organizaciones</mat-card-title>
                    <mat-card-subtitle _ngcontent-lxd-c255="" class="mat-card-subtitle">Aquí podrás
                        consultar los datos de cada organización</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content class="mat-card-content">
                <mat-tab-group class="demo-tab-group" >
                    <!-- mat-align-tabs="center"  -->
                    <mat-tab label="EEA">
                        <div class="demo-tab-content">
                            <h5> European Environment Agency </h5>
                            <table mat-table [dataSource]="EEAdata" class=" table tablesorter mat-table" >

                                <tr mat-header-row *matHeaderRowDef="displayedColumns_ORG" class="mat-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns_ORG;"></tr> 

                                <ng-container matColumnDef="contaminante">
                                    <th class="text-info" *matHeaderCellDef> Contaminante </th>
                                    <td *matCellDef="let element" style="width: 150px" >{{element.contaminante}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fase">
                                    <th class="text-info" *matHeaderCellDef> Fase </th>
                                    <td *matCellDef="let element" style="width: 100px">{{element.fase}} </td>
                                </ng-container>

                                <ng-container matColumnDef="limites">
                                    <th class="text-info" *matHeaderCellDef> Límite </th>
                                    <td *matCellDef="let element"style="width: 200px" >{{element.limites}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ventana">
                                    <th class="text-info" *matHeaderCellDef> Cada cuánto tiempo </th>
                                    <td *matCellDef="let element" style="width: 200px">{{element.ventana}} </td>
                                </ng-container>

                                <ng-container matColumnDef="vecesPermitido">
                                    <th class="text-info" *matHeaderCellDef> Veces Permitido </th>
                                    <td *matCellDef="let element" style="width: 200px">{{element.vecesPermitido}} </td>
                                </ng-container>
                                <ng-container matColumnDef="warning" >
                                    <th class="text-info" *matHeaderCellDef> Warnings </th>
                                    <td *matCellDef="let element" style = "width:150px"> {{element.warning}} </td>
                                </ng-container>
                            </table>


                        </div>
                    </mat-tab>
                    <mat-tab label="WHO">
                        <div class="demo-tab-content">
                            <h5> World Health Organization </h5>
                            <table mat-table [dataSource]="WHOdata" class=" table tablesorter mat-table" >

                                <tr mat-header-row *matHeaderRowDef="displayedColumns_ORG" class="mat-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns_ORG;"></tr> 

                                <ng-container matColumnDef="contaminante">
                                    <th class="text-info" *matHeaderCellDef> Contaminante </th>
                                    <td *matCellDef="let element" style="width: 150px">{{element.contaminante}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fase">
                                    <th class="text-info" *matHeaderCellDef> Fase </th>
                                    <td *matCellDef="let element" style="width: 100px">{{element.fase}} </td>
                                </ng-container>

                                <ng-container matColumnDef="limites">
                                    <th class="text-info" *matHeaderCellDef> Límite </th>
                                    <td *matCellDef="let element" style="width: 200px">{{element.limites}} </td>
                                </ng-container>

                                <ng-container matColumnDef="ventana">
                                    <th class="text-info" *matHeaderCellDef> Cada cuánto tiempo </th>
                                    <td *matCellDef="let element" style="width: 200px">{{element.ventana}} </td>
                                </ng-container>

                                <ng-container matColumnDef="vecesPermitido">
                                    <th class="text-info" *matHeaderCellDef> Veces Permitido </th>
                                    <td *matCellDef="let element" style="width: 200px">{{element.vecesPermitido}} </td>
                                </ng-container>
                                <ng-container matColumnDef="warning" >
                                    <th class="text-info" *matHeaderCellDef> Warnings </th>
                                    <td *matCellDef="let element" style = "width:150px"> {{element.warning}} </td>
                                </ng-container>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
            <hr>
            <mat-card>
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel (opened)="setStep(0)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Leyenda de las
                                tablas </mat-panel-title>
                            <mat-panel-description>Pulsa aquí para cualquier duda
                                <mat-icon>unfold_less</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="table-responsive">
                            <table mat-table [dataSource]="leyenda" class=" table tablesorter">

                                <tr mat-header-row *matHeaderRowDef="displayedColumns_leyenda">
                                </tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns_leyenda;">
                                </tr>

                                <ng-container matColumnDef="concepto">
                                    <th class="text-info" *matHeaderCellDef>Concepto
                                    </th>
                                    <td *matCellDef="let element">
                                        {{element.concepto}} </td>
                                </ng-container>

                                <ng-container matColumnDef="definicion">
                                    <th class="text-info" *matHeaderCellDef>Definición</th>
                                    <td *matCellDef="let element"> {{element.definicion}} </td>
                                </ng-container>
                            </table>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
            <hr>
        </mat-card>
    </div>

</div>